language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4

cache:
  directories:
    - $HOME/.composer

before_install:
  - composer self-update
  - composer clear-cache

install:
  composer update --no-interaction --no-ansi --optimize-autoloader --prefer-dist

script:
  - php vendor/bin/phpunit

# after_success:
#   - travis_retry php vendor/bin/php-coveralls
